@font-face {
    font-family: 'Frutiger';
    src: url('../fonts/Frutiger/Frutiger-Regular.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'Frutiger';
    src: url('../fonts/Frutiger/Frutiger45Light-Bold.ttf');
    font-weight: bold;
}